<h1><%= @status.body %></h1>

<%= link_to "edit #{ @status.body }", edit_status_path(@status) %>
<%= form_for @status, method: :delete do |f| %>
  <%= f.submit "delete #{ @status.body }" %>
<% end %>

<!-- 
<h2>Reactions to this status:</h2>
<ul>
<%# @status.reactions.each do |reaction| %>
  <li>
  <%#= reaction.emoji %>
  </li>
<%# end %>
</ul>
 -->