<form method="POST" action="/students/<%= @student_id %>">
  <input type="hidden" name="_method" value="PATCH" />

  <%= erb :"students/_form" %>

  <input type="submit" value="Update a student" />
</form>