<form action="/students" method="POST">
  <ul>
    <li>
      <!-- name -->
      name:
      <input type="text" name="name" />
    </li>
    <li>
      <!-- age -->
      age:
      <input type="number" name="age" />
    </li>
    <li>
      <!-- favorite_band -->
      favorite band:
      <input type="text" name="favorite_band" />
    </li>
    <li>
      <!-- favorite_movie -->
      favorite_movie:
      <input type="text" name="favorite_movie" />
    </li>
    <li>
      <input type="submit" value="Create a student" />
    </li>
  </ul>
</form>
