
<form>
  <input type="text" name="q" value="<%= @search_term %>" />
  <input type="submit" />
</form>


<a href="/geese">
  sfdghjkasghjfklaskjlhdf
</a>

<ol>
<% @cars.each do |car| %>
  <li>
    <%= car.make %>
    <%= car.model %>
  </li>
<% end %>
</ol>