<ul>
  <li>
    <label for="name">name:</label>
    <input id="name" type="text" name="student[name]" value="<%= @student.name %>" />
  </li>

  <li>
    <label for="favorite_band">favorite band:</label>
    <input id="favorite_band" type="text" name="student[favorite_band]" value="<%= @student.favorite_band %>"  />
  </li>
  <li>
    <label for="favorite_movie">favorite_movie:</label>
    <input id="favorite_movie" type="text" name="student[favorite_movie]" value="<%= @student.favorite_movie %>"  />
  </li>
  <li>
    <label for="age">age:</label>
    <input id="age" type="number" name="student[age]" value="<%= @student.age %>" />
  </li>
</ul>